.popup-add__form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 36px *2);
    margin: 54px auto 37px auto;
    color: #000000;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

@media screen and (max-width: 500px) {
    .popup-add__form {
        width: 200px;
        margin: 36px auto 36px auto;
    }
}