.grid__like-button {
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    width: 23px;
    border: none;
    background-color: #ffffff;
    margin: 6px 15px 0 0;
    overflow: visible;
}